<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @offer.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @offer.end %>
</p>

<p>
  <strong>Offertype:</strong>
  <%= @offer.offertype %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @offer.desc %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
