<!DOCTYPE html>
<html>
  <head>
    <title>Happy Hour Hong Kong</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar fixed-top navbar-dark bg-invert justify-content-center">
      <%= link_to "Happy Hour Hong Kong", root_path, class: 'navbar-brand' %>

    </nav>

    <%- flash.each do |k, v| %>
    <div class="container below-nav">
      <div class="row"><div class="col">
        <div class="<%= k %>"><%= v %></div>
     </div>
   </div>
    <% end %>

    <div class="below-nav">
    <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col font-invert text-center">
        &copy; <%= Date.today.year %> Happy Hour Hong Kong. All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
